header {
  width: 100%;
  height: 50px;
  background: #333; }

#calendar {
  margin-top: 49px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #calendar .active {
    background: red; }
  #calendar #scroll-x-box {
    overflow-y: hidden;
    padding-bottom: 0.58824vh; }
    #calendar #scroll-x-box .cell {
      border-left: none; }
  #calendar .cell {
    text-align: center;
    height: 3.52941vh;
    border: 1px solid black;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #calendar #grid-calendar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #calendar #grid-calendar .day {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
  #calendar #time-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    position: relative;
    top: 3.52941vh; }
  #calendar #day-header {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #calendar #day-header * {
      border: none; }

#controls {
  font-size: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 43px; }
  #controls #controls-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #controls #controls-wrapper .control {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin-right: 10px; }

#class-note {
  border: 1px solid black; }
  #class-note .container {
    margin: 30px 0;
    position: relative; }
    #class-note .container header {
      background: none;
      width: auto;
      height: auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      #class-note .container header .close {
        position: absolute;
        color: #CCC;
        right: 0;
        font-size: 30px;
        cursor: pointer; }
      #class-note .container header .title {
        text-align: center; }
        #class-note .container header .title h2 {
          margin-top: 0; }
    #class-note .container textarea {
      border: 2px solid black;
      resize: none; }
    #class-note .container footer {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #class-note .container footer a {
        text-transform: uppercase;
        color: black; }
      #class-note .container footer button {
        margin: 0;
        background: #000000;
        border-radius: 8px; }

body {
  margin: 0; }
