#calendar{

  $cell-height:60vh/17;
  $border-color:red;
  margin-top: 85px;


  display: flex;




  .right-side{
    overflow-y: hidden;
    .cell{
      border-left: none;
    }
    padding-bottom:$cell-height/6;
  }

  .cell{
    text-align: center;
    height: $cell-height;
    border:1px solid $border-color;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  #grid-calendar{
    &>div{
      display: flex;
    }
  }

  #time-bar {
    display:flex;
    flex-flow: column;
    position: relative;
    top: $cell-height*1;


  }

  #day-header{
    display:flex;
    .cell:first-child{
      border-left:1px solid $border-color;
    }
  }


}
