#calendar{

  $cell-height:60vh/17;
  $border-color:black;
  margin-top: 49px;
  position:relative;

  display: flex;


  .active{
    background: #00CCCC;
  }

  #scroll-x-box{
    overflow-y: hidden;
    .cell{
      border-left: none;
    }
    padding-bottom:$cell-height/6;
  }

  .cell{
    text-align: center;
    height: $cell-height;
    border:1px solid $border-color;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  #grid-calendar{
    display: flex;
    .day{
      display: flex;
      flex-direction: column;
    }
  }

  #time-bar {
    display:flex;
    flex-flow: column;
    position: relative;
    top: $cell-height*1;
  }

  #day-header{
    position:relative;
    display:flex;

    *{
      border: none;
    }

  }


}
