#controls{
  
  font-size:20px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-top: 43px;

  #controls-wrapper{
    display:flex;

    .control{
      user-select:none;
      margin-right: 10px;

    }
  }



}
